<?xml version="1.0" encoding="UTF-8" ?>
<Settings>
    <Logging loglevel="DEBUG" file="log/Offgrid-[date].log"/>
    <Approvals>
        <!--
            prio: 0 - 10
            supply: surplus|solar|bat|utility
        -->
        <App name="approval1" dns="solarfreigabe1" prio="5" supply="solar" mode="auto">
            <Timer on="0:00" off="0:00"/>
        </App>
         <App name="approval2" dns="solarfreigabe2" prio="3" supply="utility" mode="on">
            <Timer on="7:00" off="16:00"/>
        </App>
    </Approvals>
</Settings>