<?xml version="1.0" ?>
<Settings>
  <InverterSettings minimumVoltage="24.0" floatVoltage="28.0" switchDelaySeconds="5"/>
  <Logging loglevel="DEBUG" file="log/Offgrid-[date].log"/>
  <Approvals>
    <App name="approval1" dns="solarfreigabe1" prio="5" supply="Solar" mode="Auto" minTimeRunningMinutes="10">
      <Timer on="0:0" off="0:0"/>
    </App>
    <App name="approval2" dns="solarfreigabe2" prio="3" supply="Utility" mode="On">
      <Timer on="7:0" off="16:0"/>
    </App>
  </Approvals>
</Settings>
