<?xml version="1.0" encoding="UTF-8" ?>
<Settings>
    <Logging loglevel="DEBUG" file="log/Offgrid-[date].log"/>
    <approvals>
        <!--
            prio: 0 - 10
            supply: surplus|solar|bat|utility
        -->
        <app name="approval1" dns="solarfreigabe1" prio="5" supply="solar" status="auto">
            <timer on="0:00" off="23:59"/>
        </app>
    </approvals>
</Settings>