<?xml version="1.0" ?>
<Settings>
  <InverterSettings minimumVoltage="24.5" floatVoltage="27.0" switchDelaySeconds="10"/>
  <Logging loglevel="DEBUG" file="log/Offgrid-[date].log"/>
  <Approvals>
    <App name="BettSabrina" dns="WasserbettSabrina" prio="1" supply="Surplus" mode="Auto"/>
    <App name="BettFrank" dns="WasserbettFrank" prio="2" supply="Surplus" mode="Auto"/>
    <App name="E-Bike Ladestation" dns="ebike" prio="3" supply="Surplus" mode="OFF" minTimeRunningMinutes="10"/>
    <App name="Aquarium EG" dns="solarfreigabe11" prio="4" supply="Surplus" mode="Auto"/>
    <App name="Poolpumpe" dns="poolpumpe" prio="1" supply="Solar" mode="Off">
      <Timer on="12:0" off="18:0"/>
    </App>
    <App name="Fussbodenheizung" dns="solarfreigabe100" prio="6" supply="Battery" mode="Off">
      <Timer on="3:30" off="6:0"/>
    </App>
    <App name="Bachlauf" dns="bachlauf" prio="5" supply="Surplus" mode="Auto"/>
  </Approvals>
</Settings>
