<?xml version="1.0" encoding="UTF-8" ?>
<Settings>
    <InverterSettings minimumVoltage="24" floatVoltage="26" switchDelaySeconds="5"/>
    <Logging loglevel="DEBUG" file="log/Offgrid-[date].log"/>
    <Approvals>
        <!--
            prio: 0 - 10
            supply: surplus|solar|bat|utility
        -->
        <App name="E-Bike Ladestation" dns="solarfreigabe1" prio="5" supply="solar" mode="auto" minTimeRunningMinutes="10">
            <Timer on="0:00" off="0:00"/>
        </App>
         <App name="Fußbodenheizung" dns="solarfreigabe2" prio="3" supply="surplus" mode="auto">
        </App>
        <App name="Aquarium EG" dns="solarfreigabe2" prio="2" supply="surplus" mode="auto">
        </App>
        <App name="Aquariumheizung DG" dns="solarfreigabe2" prio="1" supply="surplus" mode="auto">
        </App>
    </Approvals>
</Settings>